# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/.idea/**/*
.vscode
node_modules/
dist/
vendor/
cache/
*.min.*
*.test.*
*.spec.*
*.bundle.*
*.bundle-min.*
*.log

**/*.exe
**/client_credentials.json
**/*client_credentials.yml
/coverage.out
/coverage.html
/coverage_detailed.txt
